.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    position: absolute;
    top: 16px;
    left: 2%;
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 26px 16px 10px 16px;
    border-top: 6px solid transparent;
    transition: border-color 0.2s;
    color: $main-200;

    &.active {
      font-weight: 800;
      border-color: $main-500;
    }

    &:hover {
      border-color: $main-500;
    }
  }

  #link-index {
    display: none;
  }
}

@media (max-width: 560px) {
  .header {
    &__logo {
      display: none;
    }
    &__navbar {
      justify-content: flex-start;
    }

    #link-index {
      display: block;
    }
  }
}
