.welcome {
  &__col {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
  }

  &__title {
    font-family: "Ametist";
    font-style: normal;
    font-weight: 400;
    font-size: 10vw;
    text-align: center;
    color: $main-500;
  }
  &__sub {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    text-align: center;
    color: $main-200;
  }

  .error-404 {
    &__title {
      display: flex;
      align-items: center;
      font-size: 14vw;

      & > span:nth-child(1) {
        display: block;
        animation-name: bounce-num;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
      & > span:nth-child(2) {
        display: block;
        animation-name: bounce-num;
        animation-duration: 3s;
        animation-delay: 0.75s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
      & > span:nth-child(3) {
        display: block;
        animation-name: bounce-num;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }

    &__sub {
      display: flex;
      align-items: center;
      gap: 12px;
      transition: transform 0.2s;

      &:hover {
        transform: translateX(-10px);
      }
    }
  }

  &.bg-1 {
    background: linear-gradient(
        0deg,
        rgba(14, 13, 1, 0.5),
        rgba(14, 13, 1, 0.5)
      ),
      url(./../img/welcome-bg-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &.bg-error {
    background: linear-gradient(
        0deg,
        rgba(14, 13, 1, 0.5),
        rgba(14, 13, 1, 0.5)
      ),
      url(./../img/welcome-bg-error.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &.bg-item {
    background: linear-gradient(
        0deg,
        rgba(14, 13, 1, 0.5),
        rgba(14, 13, 1, 0.5)
      ),
      url(./../img/item-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  @keyframes bounce-num {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-18px);
    }
    20% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media (max-width: 560px) {
  .welcome {
    &__col {
      justify-content: center;
    }
    &__title {
      font-size: 20vw;
    }
    &__sub {
      font-size: 6vw;
    }

    .error-404 {
      padding-bottom: 140px;
      &__title {
        font-size: 40vw;
      }
    }
  }
}
